<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-get-user-media"
    version="0.0.1">

    <name>getUserMedia</name>
    <repo>https://github.com/Scala-Dev/cordova-plugin-get-user-media.git</repo>
    <keywords>webview,ntlm,auth,android</keywords>
    <license>MIT</license>
    <author>Scala Inc</author>
    <description>
      &lt;p&gt;This is a WebView plugin.&lt;/p&gt;
    </description>

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>
    </platform>
    

</plugin>
